<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/popup.css">
    <title>Productivity Extension</title>
    <script nonce src="../scripts/popup.js" defer></script>
</head>
<body>
    <div class="popup-container">
        <h1>
            What are your <span class="goals-text">Goals</span> and <span class="focus-points-text">Focus points</span> for today?
        </h1>
        <div class="popup-content">
            <img src="../assets/popupsample.png" alt="Reading Book" class="content-image">
            <div class="text-content">
                <div class="todo-item">
                    <div class="todo-icon"></div>
                    <input type="text" id="focus_topic_1" class="focus-input" placeholder="Focus Point 1" />
                </div>
                <div class="todo-item">
                    <div class="todo-icon"></div>
                    <input type="text" id="focus_point_2" class="focus-input" placeholder="Focus Point 2" />
                </div>
                <div class="todo-item">
                    <div class="todo-icon"></div>
                    <input type="text" id="focus_point_3" class="focus-input" placeholder="Focus Point 3" />
                </div>
                
                <button id="set-focus-btn">Start Focus</button>
            </div>
        </div>

        <div class="bubble blue-bubble bottom-right-bubble"></div>
        <div class="bubble yellow-bubble bottom-right-bubble"></div>
        <div class="top-right-bubble">
            <div class="bubble blue-bubble"></div>
            <div class="bubble yellow-bubble"></div>
        </div>
    </div>
</body>
</html>
